In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('/Users/yangyujie/Documents/dcard/auto_data_anomaly/data/video_interactions.csv')
data.head()

,event_id,created_at,app_version,action,client_id,media_id,user_id
0,ABC32ADF-69A9-4CDA-8971-D2173B3F3F78,2024-08-07 14:33:44.99 UTC,3.42.1,auto_play,828a06832c848ebd109000c56022099e,8665fecb0d616a39310d8c4bdaf58dd5,293e848e571cc18a7550ad57c1500bd1
1,7296D182-A16F-45ED-8221-4BBD4825727D,2024-09-18 14:08:40.57 UTC,3.42.1,pause,828a06832c848ebd109000c56022099e,804e53f03388fd5754f297844a383afe,293e848e571cc18a7550ad57c1500bd1
2,46B243C7-CAF9-4195-A4E6-CF8641AD70C6,2024-08-12 15:12:19.504 UTC,3.42.1,auto_play,828a06832c848ebd109000c56022099e,3cb44c07060f26ae28f6f7ea924b4977,293e848e571cc18a7550ad57c1500bd1
3,1130BFF1-CEB5-4AA6-8D5D-3FCA3D56B8E4,2024-08-04 08:31:10.133 UTC,3.42.1,auto_play,828a06832c848ebd109000c56022099e,a48c6b4b6633d15766552ec4d3d5fe6e,293e848e571cc18a7550ad57c1500bd1
4,73613180-9722-4E57-B352-9EE4C2D5421D,2024-08-23 08:11:32.264 UTC,3.42.1,pause,828a06832c848ebd109000c56022099e,1121049d2cffa4523e4a26fad16642d6,293e848e571cc18a7550ad57c1500bd1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943603 entries, 0 to 943602
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event_id     943603 non-null  object
 1   created_at   943603 non-null  object
 2   app_version  943603 non-null  object
 3   action       943603 non-null  object
 4   client_id    943603 non-null  object
 5   media_id     943603 non-null  object
 6   user_id      943603 non-null  object
dtypes: object(7)
memory usage: 50.4+ MB

In [7]:
data.describe()

,event_id,created_at,app_version,action,client_id,media_id,user_id
count,943603,943603,943603,943603,943603,943603,943603
unique,307351,915350,59,5,300,7037,304
top,0D738912-BC94-4482-8E8B-A29613631B0C,2024-09-03 12:53:45.554 UTC,3.158.0,pause,abe8b2c45b92ed5ce787a1bb9f8ddcab,e108248da1183ef729efdcc6013a0505,4684f1d450b537e77860c689d96309d7
freq,2973,5,154494,544714,3160,5483,14346

In [11]:
data['created_at'].max()

'2024-09-18 23:58:25.807 UTC'

In [12]:
data['created_at'].min()

'2024-03-20 15:38:01.638 UTC'

In [9]:
data[data['event_id']=='000015A5-DCFB-4E84-BDAD-4919FF0375BD']

,event_id,created_at,app_version,action,client_id,media_id,user_id
397242,000015A5-DCFB-4E84-BDAD-4919FF0375BD,2024-08-10 10:48:14.896 UTC,3.157.0,auto_play,750bd1a94f67abdefd87b9cad4862932,b0fbb9bf08f549430e6c80c9e807b0b0,f73b50db2f1b06a53e17f1d5f3a03c33
397957,000015A5-DCFB-4E84-BDAD-4919FF0375BD,2024-08-10 10:48:26.08 UTC,3.157.0,pause,750bd1a94f67abdefd87b9cad4862932,b0fbb9bf08f549430e6c80c9e807b0b0,f73b50db2f1b06a53e17f1d5f3a03c33
398097,000015A5-DCFB-4E84-BDAD-4919FF0375BD,2024-08-10 10:48:26.08 UTC,3.157.0,pause,750bd1a94f67abdefd87b9cad4862932,b0fbb9bf08f549430e6c80c9e807b0b0,f73b50db2f1b06a53e17f1d5f3a03c33